@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
 
:root  {
  --background: 86 0% 95%;
  --foreground: 86 0% 0%;
  --card: 86 0% 90%;
  --card-foreground: 86 0% 10%;
  --popover: 86 0% 95%;
  --popover-foreground: 86 95% 0%;
  --primary: 86 65.7% 42.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 86 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 48 10% 85%;
  --muted-foreground: 86 0% 35%;
  --accent: 48 10% 80%;
  --accent-foreground: 86 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 86 0% 90%;
  --border: 86 20% 50%;
  --input: 86 20% 18%;
  --ring: 86 65.7% 42.4%;
  --radius: 0rem;
  /*charts*/
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}
.dark  {
  --background: 86 10% 5%;
  --foreground: 86 0% 90%;
  --card: 86 0% 0%;
  --card-foreground: 86 0% 90%;
  --popover: 86 10% 5%;
  --popover-foreground: 86 0% 90%;
  --primary: 86 65.7% 42.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 86 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 48 10% 15%;
  --muted-foreground: 86 0% 60%;
  --accent: 48 10% 15%;
  --accent-foreground: 86 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 86 0% 90%;
  --border: 86 20% 18%;
  --input: 86 20% 18%;
  --ring: 86 65.7% 42.4%;
  --radius: 0rem;
  /*charts*/
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

  
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
